.container {
  display:flex;
  flex-direction:row;
  padding:2px;
  width: 100%;
}

.grid-left {
  flex-grow: 1;
}

.grid-left > label {
  position: relative;
  top: 1.25rem;
}

.grid-right {
  flex-grow: 11;
  flex-direction: column;
}